% Configuration File for SUPERB Machine Learning UoM.
% Configuration options:
% -v	Verbose logging flag (Optional)
% -c	Path to the configuration file (Optional)
% -o	Path to the file to write output data to (Optional)
% -train	Train the classifier using an arff file (Optional)
% -test	Test the classifier using an arff file (Optional)
% -p	Execute the classifier on an arff file (Optional)
% -a	The algorithm to use for classification (Optional)
% -m	The location to save a classification model to (Optional)
% example use: -c=\Users\rob\file.config
%
% Decision tree = 1;
% MLP = 2;
% NB = 3;
% SVM = 4;
% HDVFDT = 5;

-v=true
-c=/Users/rob/Desktop/HTRU_CLASSIFIER_STUFF/HTRU_MLP_train.config
-o=/Users/rob/Desktop/HTRU_CLASSIFIER_STUFF/HTRU_MLP_TrainOutput.txt
-train=/Users/rob/Desktop/HTRU_CLASSIFIER_STUFF/HTRU_8_+1639_-16259.arff
-test=/Users/rob/Desktop/HTRU_CLASSIFIER_STUFF/SPINN_8_+1196_-89995.arff
-p=
-a=2
-m=/Users/rob/Desktop/HTRU_CLASSIFIER_STUFF/HTRU_MLP.model